{% load i18n %}
<fieldset id="admin_system">
    <legend>{% trans "System Configuration" %}</legend>
    <div class="fieldsetdiv">
    <form method=post id="configForm" name="configForm">
    <table cellspacing="0" class="yui-skin-sam noborder_table">
        <tr>
            <th><label for="title">{% trans "Blog Title" %}:</label></th>
            <td>
              <input id="title"  name="title" size="30" type="text" value="{{BLOG.title}}" />
            </td>
        </tr>
        <tr>
            <th><label for="author">{% trans "Author" %}:</label></th>
            <td>
                <input id="author"  name="author" size="15" type="text" value="{{BLOG.author}}" />
                  </td>
        </tr>
        <tr>
            <th><label>{% trans "Email" %}:</label></th>
            <td> <i><b>{{user.email}}</b></i> <img src="{{user_gravatar_url}}" style="width:16px;height:16px">
                <p><small>If you see a <img src="/img/anonymous-16.jpg" style="width:8px;height:8px"> above it means you either don't have a Gravatar for that email
                   address or it is not rated G. <a target="_blank" href="http://site.gravatar.com/">{% trans "Get one for free at gravatar.com" %}</a>.</small></p>
            </td>
        </tr>
        <tr>
            <th><label for="description">{% trans "Blog Description" %}:</label></th>
            <td><input id="description" name="description" size="60" type="text" value="{{BLOG.description}}" /> </td>
        </tr>
        <tr>
            <th><label for="root_url">{% trans "Root URL" %}:</label></th>
            <td>
                <input id="root_url" name="root_url" size="30" type="text" value="{{BLOG.root_url}}" />
            </td>
        </tr>
        <tr>
            <th><label for="time_zone_offset">{% trans "Time Zone" %}:</label></th>
            <td>
                <select id="time_zone_offset" name="time_zone_offset">
                </select>
            </td>
        </tr>
        <tr>
            <th><label for="logo_images">{% trans "Logo images" %}:</label></th>
            <td>
                <input type="hidden" id="logo_images_space" name="logo_images_space"/>
                <textarea id="logo_images" name="logo_images"  rows="4" cols="50" style="">{% for logo in logoImages %}{{logo}}{% if not forloop.last %} {% endif %}{% endfor %}</textarea>
                <p><small>{% trans "Separate logo image urls with commas and/or newlines. These images will randomly display on the site." %}</small></p>
            </td>
        </tr>
        <tr>
            <th><label for="num_post_per_page">{% trans "Posts num per page" %}:</label></th>
            <td>
                <input id="num_post_per_page" name="num_post_per_page" maxlength="15" size="15" type="text" value="{{BLOG.num_post_per_page}}" />
                <p><small>{% trans "This number is used for the pagination." %}</small></p>
            </td>
        </tr>
        <tr>
            <th><label for="cache_time">{% trans "Page Cache Time" %}:</label></th>
            <td>
                <input id="cache_time" name="cache_time" maxlength="15" size="15" type="text" value="{{BLOG.cache_time}}" />
                <p><small>{% trans "Be careful! This value will make your page unchanging for the specified time." %}</small></p>
            </td>
        </tr>
        <tr>
            <th><label for="debug">{% trans "Debug Mode" %}:</label></th>
            <td>
                <input id="debug" name="debug" type="checkbox" {% if BLOG.debug %} checked {% endif %}/>
                <p><small>{% trans "You can get more detailed log info in appengine when enable debug mode." %}</small></p>
            </td>
        </tr>
        <tr>
            <th><label for="recaptcha_enable">{% trans "Recaptcha enable" %}:</label></th>
            <td>
                <input id="recaptcha_enable" name="recaptcha_enable"  onclick="checkRecaptcha()" type="checkbox" {% if BLOG.recaptcha_enable %} checked {% endif %}/>
                <p><small>{% trans "reCAPTCHA is a free CAPTCHA service that helps to enable anti-spam for the post's comment." %}  </small></p>
                <p><small>{% trans "You can get reCAPTCHA for free from" %}: <a href="http://recaptcha.net/">http://recaptcha.net/</a>. </small></p>
            </td>
        </tr>
        <tr>
            <th><label for="recaptcha_public_key">Recaptcha {% trans "public key" %}:</label></th>
            <td>
                <input id="recaptcha_public_key" name="recaptcha_public_key"  size="60" type="text" value="{{BLOG.recaptcha_public_key}}"/>
            </td>
        </tr>
        <tr>
            <th><label for="recaptcha_private_key">Recaptcha {% trans "private key" %}:</label></th>
            <td>
                <input id="recaptcha_private_key" name="recaptcha_private_key"  size="60" type="text" value="{{BLOG.recaptcha_private_key}}"/>
            </td>
        </tr>
        <tr>
            <th><label for="delicious_enable">del.icio.us {% trans "enable" %}:</label></th>
            <td>
                <input id="delicious_enable" name="delicious_enable" onclick="checkDelicious()" type="checkbox" {% if BLOG.delicious_enable %} checked {% endif %}/>
                <p><small>{% trans "Delicious is a Social Bookmarking service." %} </small></p>
            </td>
        </tr>
        <tr>
            <th><label for="delicious_username">del.icio.us {% trans "username" %}:</label></th>
            <td>
                <input id="delicious_username" name="delicious_username"  size="15" type="text" value="{{BLOG.delicious_username}}"/>
                <small>{% trans "You can get del.icio.us for free from" %}: <a href="http://delicious.com/">http://delicious.com/</a> </small>
            </td>
        </tr>
        <tr>
            <th><label for="google_ajax_feed_enable">{% trans "Feed control enable" %}:</label></th>
            <td>
                <input id="google_ajax_feed_enable" name="google_ajax_feed_enable" onclick="checkGoogleAjaxFeed()"  type="checkbox"  {% if BLOG.google_ajax_feed_enable %} checked {% endif %}/>
                <small>{% trans "Enable feed control on your site." %}</small>
                <p><small>{% trans "You can manage your feeds on the Feeds tab." %}</small></p>
            </td>
        </tr>
        <tr>
            <th><label for="google_ajax_feed_title">{% trans "Feed control main title" %}:</label></th>
            <td>
                <input id="google_ajax_feed_title" name="google_ajax_feed_title"  size="30" type="text" value="{{BLOG.google_ajax_feed_title}}"/>
            </td>
        </tr>
        <tr>
            <th><label for="google_ajax_feed_result_num">{% trans "Result num per feed" %}:</label></th>
            <td>
                <input id="google_ajax_feed_result_num" name="google_ajax_feed_result_num" maxlength="15" size="15" type="text" value="{{BLOG.google_ajax_feed_result_num}}"/>
            </td>
        </tr>
        <tr>
            <th> </th>
            <td><input name="commit" type="button" value="Save" onclick="saveConfiguration()"/></td>
        </tr>
    </table>
    </form>
    </div>
</fieldset>
