{% load i18n %}
<fieldset id="admin_albums">
    <legend>{% trans "Albums Admin" %}</legend>
    <div class="fieldsetdiv">
        {% trans "Album List" %}:<br>
        <small>{% trans "Tips:you can double-click the 'Add' column in the table header to add a new record." %}</small><br>
        <small>{% trans "You can access your albums from the path:'/albums', so we recommend you to add a menu of '/albums' in the pages tab." %}</small>    
        <div id="albumdiv">
        <table id="albumtable">
            <thead><tr>
                <th>{% trans "Picasaweb" %}</th>
                <th>{% trans "Access(picasaweb)" %}</th>
                <th>{% trans "Order" %}</th>
                <th>{% trans "Valid" %}</th>
                <th>{% trans "Id" %}</th>
                <th></th>
                <th></th>
            </tr></thead>
            <tbody>
            {% for album in albums %}
            <tr>
                <td>{{album.album_username}}</td>
                <td>{{album.album_type}}</td>
                <td>{{album.order}}</td>
                <td>{{album.valid}}</td>
                <td>{{album.key.id}}</td>
                <td> </td>
                <td> </td>
            </tr>
            {% endfor%}
            </tbody>
        </table>
       </div>
    </div>
</fieldset>

