body {
    background: #fff;
    color: #333;
}

a, a:link, a:visited, a:link {
    color: #555;
    text-decoration: none;
}

a:hover {
    color: #555;
    text-decoration: underline;
    border-bottom-color: #555;
    background-color: #F4F2E4;
}

.error {
    background: #f8f7ef none repeat scroll 0% 0%;
    border-color: red;
    border-style: none none none solid;
    border-width: medium medium medium 4px;
    font-weight: bold;
    margin: 10px 0pt;
    padding-bottom: 10px;
    padding-left: 10px;
}

#title a, #title a:hover, #title a:link, #title a:visited {
    background-color: inherit !important;
    border: none !important;
    border-bottom: none !important;
    font-size: 2.4em !important;
    text-decoration: none;
}

#pagination a:hover, #pagination a:link, #pagination a:visited {
    background-color: inherit !important;
    border-bottom: 1px solid #cedef7 !important;
    text-decoration: none;
}

#blogcontainer {
    border: 1px #cccccc solid;
    padding-bottom: 10px;
    padding-top: 10px;
}

#navbar {
    background: #fbfaf4;
    border-bottom: 1px dashed #b2b2b2;
    border-top: 1px dashed #b2b2b2;
    font: 1.2em georgia, times, serif;
    height: 1.8em;
    min-width: 750px;
    overflow: hidden;
    padding: 0 0 3px 215px;
}

#navbar li {
    float: left;
    margin-right: 5px;
    padding: 0 23px 0 13px;
}

#navbar li a, #navbar li a:link {
    border-bottom: none !important;
    color: #000;
    display: block;
    padding: 0.5em 0 0.25em;
}

#navbar a:hover, .articles #navbar #articles a, .topics #navbar #topics a, .about #navbar #about a,
    .contact #navbar #contact a, .contribute #navbar #contribute a, .feed #navbar #feed a {
    background: url( /img/navbarlinkbg.gif ) top left repeat-x;
    color: #555 !important;
}

#footer {
    background: #fbfaf4;
    height: 2.5em;
    margin-bottom: 20px;
    margin-top: 20px;
    min-width: 750px;
    overflow: hidden;
}

#configuration {
    border: none;
}

#configuration th {
    border: none;
    padding-top: 10px;
    text-align: right !important;
}

#configuration td {
    border: none;
    padding: 7px 3px;
    text-align: left;
}

.submit {
    background-color: #cccccc;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    margin-top: 10px;
}

#imagetable .thumbnail {
    background: white none repeat scroll 0% 0%;
    border: 1px solid #cccccc;
    padding: 0;
}

.fieldsetcomment {
    font: 0.8em georgia, "times new roman", serif, italic;
}

#admincontainer fieldset {
    border: 1px solid #cccccc !important;
    margin-bottom: 20px !important;
    padding-bottom: 20px;
}

#admincontainer .fieldsetdiv {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

#admincontainer legend {
    font-weight: bold;
    padding: 2px 6px;
}

.admin_table th, .admin_table td {
    border: 1px solid #cccccc;
    padding: .4em;
}

.admin_table th {
    font-weight: bold;
    text-align: right;
}

.admin_table {
    width: 100%;
}

.post {
    border-bottom: 1px dotted #cccccc;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.post-title {
    font: 1.6em georgia, times, serif;
    letter-spacing: 1px;
    margin: 1em 0px 0.25em;
    text-transform: none;
}

.post-title a {
    color: cadetblue !important;
    text-decoration: none;
}

.post-title a:link, .post-title a:visited {
    color: #333;
}

.post-title a:hover {
    border-bottom: 1px solid #9a8e51;
    color: #000;
}

.timestamp-link {
    color: #ff9966 !important;
    font-weight: normal !important;
}

.comment-link {
    color: #ff9966 !important;
    font-weight: normal !important;
    padding-left: 10px;
}

.post-body {
    line-height: 1.6em;
    margin: 0 0 1em;
    padding-bottom: 15px;
    padding-top: 5px;
    text-align: left;
}

.post-body a {
    font-weight: bold;
    text-decoration: none !important;
}

.byline {
    font: italic 0.9em times, serif;
    letter-spacing: 1px;
    margin: 0 0 1.5em;
}

.byline a:link, .byline a:visited {
    font: bold 0.85em verdana, sans-serif;
    letter-spacing: 2px;
    margin-left: 0.25em;
    text-transform: uppercase;
}

#sidebar {
    border: 1px #cccccc solid;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#sidebar h3 {
    color: #333;
    font: 1.5em georgia, times, serif;
    letter-spacing: 0;
    margin-bottom: 0.25em;
    text-transform: none;
}

#sidebar h2 {
    color: #963;
    font: italic 12px / 1.2 georgia, 'times new roman', serif;
    letter-spacing: 3px;
    margin: 0px 0px 8px;
    text-decoration: none;
    text-transform: uppercase;
}

#login, #tagclound, #greeting {
    border-bottom: 1px dashed #b2b2b2;
    padding: 10px 0.5em;
}

#favourite_ebook {
    padding: 10px 0.5em;
}

#sidebar div.login {
    padding-top: 0;
}

#login ul, #favourite_ebook ul, #favourite_site ul {
    list-style-type: none;
    margin: 0px 0px 1.5em;
}

#login ul li, #favourite_ebook ul li, #favourite_site ul li {
    background: url( /img/bullet.gif ) no-repeat 0px 0.5em;
    margin: 0px 0px 0.5em 0.5em;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 0px;
    padding-top: 0px;
}

.tagheader {
    font: bolder .7em verdana, arial, "times new roman", serif;
}

#delicious {
    padding-bottom: 20px;
    padding-top: 5px;
}

#favourite_site {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-top: 10px;
}

#ajaxfeed {
    padding-bottom: 20px;
    padding-top: 10px;
}

.feedth {
    width: 200px !important;
    word-break: break-all;
}

#greetings {
    height: 300px;
    overflow: auto;
}

#gravatar {
    line-height: 48px;
    overflow: hidden;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
    vertical-align: middle;
}

#gravatar img {
    border: 1px solid #999999;
    float: left;
    margin-right: 5px;
    padding: 2px;
}

.avatar {
    border: 1px solid #000000;
    clear: both;
    float: right;
    height: 32px;
    margin: 0 0 2px 2px;
    padding: 2px;
    width: 32px;
}

#sidebar li.current, #favourite_ebook li.current, #favourite_ebook li.current {
    background: url( /img/bullet_current.gif ) no-repeat 0px 0.5em;
    font-weight: bold;
}

#sidebar dl {
    margin: 0px 0px 1em;
}

#userinfo {
    text-align: right;
}

#menu_right {
    padding-right: 10px;
}

#menu_right ul {
    list-style-type: none;
    margin: 0px 0px 1.5em;
}

#menu_right ul li {
    margin: 0px 0px 0.5em;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 0px;
}

#menu_right li.current {
    font-weight: bold;
}

#menu_right h2 {
    color: #963;
    font: italic 12px / 1.2 georgia, 'times new roman', serif;
    letter-spacing: 3px;
    margin: 0px 0px 8px;
    text-decoration: none;
    text-transform: uppercase;
}

#subscribe {
    padding-bottom: 10px;
}

#comments {
    border-bottom: 1px dotted #cccccc;
}

.commenttime {
    font: 0.7em georgia, "times new roman", serif, italic;
}

#archives {
    border-bottom: 1px dotted #cccccc;
    padding-top: 10px;
}

#google_ad {
    padding-left: 5px;
    padding-top: 10px;
}

#logo {
    background: #efefef;
    border: 1px #cccccc solid;
    height: 148px;
    padding-right: 5px;
    padding-top: 2px;
    text-align: right;
}

#bloglist {
    background: url( /img/threecolbg.gif ) right repeat-y;
    padding-left: 10px;
    padding-right: 10px;
}

#blogview {
    border: 1px #cccccc solid;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

#blogview div {
    margin-bottom: 5px;
}

.commentlabel h4 {
    color: #963;
    font: 14px / 1.2 georgia, 'times new roman', serif;
    letter-spacing: 3px;
    margin: 0px 0px 8px;
    text-decoration: none;
    text-transform: uppercase;
}

.author {
    background: #f8f7ef none repeat scroll 0% 0%;
    border-style: none none none solid;
    border-width: medium medium medium 6px;
    margin: 10px 0pt;
}

.comment {
    background: #f8f7ef none repeat scroll 0% 0%;
    border-bottom: 1px dotted #cccccc;
    margin-bottom: -1px;
    padding: 15px 10px 1px;
    padding-top: 10px;
}

.comment1 {
    background: #fbfbf7 none repeat scroll 0% 0%;
    border-bottom: 1px dotted #cccccc;
    border-style: none;
    border-width: medium;
    margin-bottom: -1px;
    padding: 15px 10px 1px;
    padding-top: 10px;
}

#logindiv {
    border: 1px #cccccc solid;
    padding: 20px;
}

#openid_identifier {
    background-image: url( /img/openid.gif );
    background-position: 3px 2px;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    margin: 0;
    padding: 2px 2px 2px 20px;
    vertical-align: middle;
    width: 322px;
}

#albumsdiv {
    border: 1px #cccccc solid;
    padding-bottom: 40px;
    padding-top: 10px;
}

#albuminfo {
    padding-left: 20px;
}

#albums {
    margin: auto;
    padding-left: 20px;
    padding-top: 10px;
    text-align: center;
}

#albums td {
    padding: 3px 2px;
    text-align: center;
    vertical-align: middle;
    width: 150px;
}

#albumstable img {
    background: white none repeat scroll 0% 0%;
    border: 1px solid #cccccc;
    padding: 6px;
}

.album_thumbnail {
    height: 202px;
    margin: 15px;
    width: 180px;
}

* html .album_thumbnail {
    display: inline;
}

html>body #albums {
    display: table;
}

html>body .album_thumbnail {
    display: table;
    float: left;
}

.album_thumbnail_img {
    background-image: url( '/img/album_background.gif' );
    background-repeat: no-repeat;
    height: 170px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
    width: 180px;
}

.album_thumbnail_title {
    height: 30px;
    width: 170px;
}

#recaptcha {
    margin-bottom: 0 !important;
    padding: 0;
}

#recaptcha div {
    margin-bottom: 0 !important;
    padding: 0;
}

#recaptcha a, #recaptcha a.link, #recaptcha a.visited {
    border-bottom: none !important;
}