body {font: 0.8125em Verdana, sans-serif; line-height: 1; color: #333; background: #FFF;}
a {text-decoration: none;}
a:link, a:visited {color: #555; border-bottom: 1px solid #555;}
html body a:hover {color: #000; background-color: #F4F2E4; border-bottom: 1px solid #9A8E51;}
#sidebar a:link,.post-title a:link, .post-title a:visited, .byline a:link, .byline a:visited {border-bottom-width: 0;}
#sidebar a:hover,.post-title a:hover, .byline a:hover {border-bottom-width: 1px;}

h2 {font: 1.5em Georgia, "Times New Roman", serif; letter-spacing: 1px;}
h3 {font: bold 1em Verdana, Arial, sans-serif; letter-spacing: 2px; text-transform: uppercase;}
h4 {font: bold 1.1em Georgia, "Times New Roman", serif; letter-spacing: 1px;}

ul, ol {list-style: none;}
dt {font:bold}


.post {PADDING-RIGHT: 10px; PADDING-LEFT: 10px; margin-bottom:10px;border-bottom: 1px dotted #cccccc;}
.post-title {font: 1.6em Georgia, Times, serif;MARGIN: 1em 0px 0.25em;text-transform: none; letter-spacing: 1px;}
.post-title a {text-decoration: none;color:cadetblue !important;}
.post-title a:link, .post-title a:visited {color: #333;}
.post-title a:hover {color: #000;}

.post-body {text-align: left; line-height: 1.8em;margin: 0 0 1em;}

.byline {font: italic 0.9em Times, serif; letter-spacing: 1px; margin: 0 0 1.5em;}
.byline a:link, .byline a:visited {font: bold 0.85em Verdana, sans-serif;
  text-transform: uppercase; letter-spacing: 2px;
  margin-left: 0.25em;}

#sidebar{border: 1px #000000 solid;PADDING-RIGHT: 10px; PADDING-LEFT: 10px;}
#sidebar h3 {font: 1.5em Georgia, Times, serif; letter-spacing: 0; text-transform: none;
  margin-bottom: 0.25em; color: #333;}
#sidebar H2 {
	MARGIN: 0px 0px 8px; FONT: italic 12px/1.2 Georgia, 'Times New Roman', serif; TEXT-TRANSFORM: uppercase; COLOR: #963; LETTER-SPACING: 3px; TEXT-DECORATION: none
}
#sidebar div {border-bottom: 1px dashed #B2B2B2; padding: 10px 0.5em;}
#sidebar div.login {padding-top: 0;}
#sidebar li a{text-decoration:none !important;}
#sidebar li a:link, #sidebar li a:visited {padding-left: 12px;border-bottom:none}
#sidebar p {font-size: 0.85em; margin-top: 0.25em;}

#sidebar UL {MARGIN: 0px 0px 1.5em; LIST-STYLE-TYPE: none}
#sidebar UL LI {PADDING-RIGHT: 0px; PADDING-LEFT: 10px; BACKGROUND: url(/img/bullet.gif) no-repeat 0px 0.5em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.5em; PADDING-TOP: 0px}
#sidebar LI.current {FONT-WEIGHT: bold; BACKGROUND: url(/img/bullet_current.gif) no-repeat 0px 0.5em}
#sidebar DL {MARGIN: 0px 0px 1em}

#userinfo {TEXT-ALIGN: right}

#menu_right{PADDING-RIGHT: 10px; PADDING-LEFT: 10px;}
#menu_right UL {MARGIN: 0px 0px 1.5em; LIST-STYLE-TYPE: none}
#menu_right UL LI {PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.5em; PADDING-TOP: 0px}
#menu_right LI.current {FONT-WEIGHT: bold;}
#menu_right H2 {MARGIN: 0px 0px 8px; FONT: italic 12px/1.2 Georgia, 'Times New Roman', serif; TEXT-TRANSFORM: uppercase; COLOR: #963; LETTER-SPACING: 3px; TEXT-DECORATION: none}

#comments{border-bottom: 1px dotted #cccccc;}
#archives{border-bottom: 1px dotted #cccccc;padding-top:10px}

#logo {background: #efefef;  border: 1px #000000 solid; height: 148px;  text-align: right;  padding-top: 2px;  padding-right: 5px;}
#bloglist{ background: url(/img/blog/threecolbg.gif) right repeat-y; padding-right:10px;padding-left:10px}
#blogview{ padding-right:10px;padding-left:10px;border: 1px #000000 solid;}
#blogcontainer{border: 1px #000000 solid;padding-bottom: 10px; padding-top: 10px;}
#albumsdiv{border: 1px #000000 solid;padding-bottom: 40px; padding-top: 10px;}

#albums{margin:auto;text-align:center;}
.album_thumbnail{width:180px;height:200px;margin:20px;}
.photo_thumbnail{margin:10px;padding:0;width:144px}
#photo{z-index:-1}
* html .album_thumbnail, * html .photo_thumbnail {display:inline}/* for ie*/
html>body #albums {display:table}/*for mozilla */
html>body .album_thumbnail{display:table;float:left}/*for mozilla */
html>body .photo_thumbnail{display:table;float:left}/*for mozilla */
@media all and (min-width: 0px){/* opera 7 styles */
   html>body .album_thumbnail{display:inline-block;float:none;}
   html>body .photo_thumbnail{display:inline-block;float:none;}
}
.album_thumbnail_img{background-image:url('/img/album_background.gif');background-repeat:no-repeat;
    padding-top:15px;padding-bottom:10px;padding-left:5px;padding-right:10px;width:180px;height:170px}
.album_thumbnail_title{width:170px;height:30px}
