.p_bar {
	clear: both;
	margin: 1px 0;
}
.p_bar a {
 	float: left;
	font-size: 11px;
	padding: 1px 4px;
	text-decoration: none;
}
.p_input {
	background: #EBEBEB;
	border: 0;
	height: 16px !important;
    margin: 0;
	padding: 0;
	width: 40px;
}
.p_total {
	border: 1px solid #CEDEF7;
	border-right: 0;
}
a.p_total {
 }
.p_pages {
	border: 1px solid #CEDEF7;
	margin-right: 1px;
	vertical-align: middle;
}
.p_num {
	border: 1px solid #CEDEF7;
	margin-right: 1px;
	vertical-align: middle;
}
a:hover .p_num {
	background-color: #DEF7FF;
	border: 1px solid #CEDEF7;
 	text-decoration: none;
}
.p_redirect {
	border: 1px solid #CEDEF7;
	font-size: 11px !important;
    margin-right: 1px;
}
a:hover .p_redirect {
	border: 1px solid #CEDEF7;
	text-decoration: none;
}
.p_curpage {
	background-color: #FFDE7A;
	border: 1px solid #CEDEF7;
	margin-right: 1px;
	vertical-align: middle;
}

