<fieldset>
    <legend>User Admin</legend>
    <div class="fieldsetdiv">
      <form method=post id="userAdminForm" name="userAdminForm">
        <table cellspacing="0" class="yui-skin-sam" id="userAdmin" >
          <tr>
            <th><label for="email">Email</label></th>
            <td>
              <input id="email"  name="email" size="30" type="text" value="{{user.email}}"/>
            </td>
          </tr>
          <tr>
            <th><label for="first_name">First Name:</label></th>
            <td>
              <input id="first_name"  name="first_name" size="30" type="text" value="{{user.first_name}}" />
            </td>
          </tr>
          <tr>
            <th><label for="last_name">Last Name:</label></th>
            <td>
              <input id="last_name"  name="last_name" size="30" type="text" value="{{user.last_name}}" />
            </td>
          </tr>
          <tr>
            <th><label for="username">User Name:</label></th>
            <td>
              <input id="username"  name="username" size="30" type="text" value="{{user.username}}" />
            </td>
          </tr>
          <tr>
            <th><label for="country">Country:</label></th>
            <td>
              <input id="country"  name="country" size="30" type="text" value="{{user.country}}" />
            </td>
          </tr><tr>
            <th><label for="birthday">Birthday:</label></th>
            <td>
            	<div id="datefield">
	              <input id="birthday"  name="birthday" type="text" size="30" value="{{user.birthday_str}}" readOnly="true"/>
	              <button type="button" id="show_cal" title="Show Calendar"><img src="/img/calbtn.gif" width="18" height="18" alt="Calendar" /></button>
	            </div>
              <div id="container_cal">
					      <div class="hd">Calendar</div>
					      <div class="bd">
					         <div id="cal"></div>
					      </div>
					   	</div>
            </td>
          </tr><tr>
            <th><label for="gender">Gender:</label></th>
            <td>
              <label for="gender_male">Male</label><input id="gender_male"  name="gender" type="radio" value="M" {% ifequal user.gender "M" %} checked {% endifequal %}/>
              <label for="gender_female">Female</label><input id="gender_female"  name="gender" type="radio" value="F" {% ifequal user.gender "F" %} checked {% endifequal %} />
            </td>
          </tr>
          <tr>
            <th> </th>
            <td><input name="commit" type="button" value="Save" onclick="saveUserInfo()"/></td>
        </tr>
        </table>
      </form>
    </div>
</fieldset>
<fieldset id="admin_openids">
    <legend>OpenID Admin</legend>
    <div class="fieldsetdiv">
        OpenID List:<br>
        <small>Tips:you can double-click the "Add" column in the table header to add a new record.</small><br />
        <small>you can attach another openID to your account</small> 
            <div id="openIDdiv">
            <table id="openIDtable">
                <thead><tr>
                    <th>openid</th>
                    <th>valid</th>
                    <th>id</th>
                    <th>Delete</th>
                    <th>Add</th>
                </tr></thead>
                <tbody>
                {% for entry in openIDs %}
                <tr id="openid_{{entry.key.id}}">
                    <td>{{entry.openid_url}}</td>
                    <td>{{entry.valid}}</td>
                    <td>{{entry.key.id}}</td>
                    <td> </td>
                    <td> </td>
                </tr>
                {% endfor%}
                </tbody>
            </table>
            </div>
    	</div>
</fieldset>
