{% extends "main.html" %}

{% block title %}{{title}} - System Admin{% endblock %}

{% block blogcontainer %}

<!-- Dependency -->
<script src="http://yui.yahooapis.com/2.5.2/build/yahoo/yahoo-min.js"></script>
<!-- Used for Custom Events and event listener bindings -->
<script src="http://yui.yahooapis.com/2.5.2/build/event/event-min.js"></script>
<!-- Connection Manager -->
<script src="http://yui.yahooapis.com/2.5.2/build/connection/connection-min.js"></script>
<!-- JSON Utility -->
<script src="http://yui.yahooapis.com/2.5.2/build/json/json-min.js"></script>

<!--DataTable-->
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.2/build/datatable/assets/skins/sam/datatable.css" />
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/element/element-beta-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/datasource/datasource-beta-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/datatable/datatable-beta-min.js"></script>

<!--my yui grid render-->
<script type="text/javascript" src="/jscripts/imagelist.grid.js"></script>
<script type="text/javascript" src="/jscripts/taglist.grid.js"></script>
<script type="text/javascript" src="/jscripts/archivelist.grid.js"></script>

<div class="yui-g">
<div id="admincontainer" class=" yui-skin-sam">
<script>
    var handleFailure = function(o) {
        if (o.responseText !== undefined) {
            alert("Client RPC Request Error, please retry.");
        }
    }
</script>
<fieldset>
    <legend>Uploaded Images Admin</legend>
    <div class="fieldsetdiv">
        Image List:
        <div id="imagediv">
        <table id="imagetable">
            <thead><tr>
                <th>Image</th>
                <th>URL</th>
                <th>Date</th>
                <th>ID</th>
                <th>Delete</th>
            </tr></thead>
            <tbody>
            {% for entry in images %}
            <tr>
                <td><img src="/rpc/img?img_id={{entry.key}}" class="thumbnail"></td>
                <td><a href="{{BLOG.root_url}}/rpc/img?img_id={{entry.key}}" target="_blank">{{BLOG.root_url}}/rpc/img?img_id={{entry.key}}</a></td>
                <td>{{entry.date|date:"m/d/y"}}</td>
                <td></td>
            </tr>
            {% endfor%}
            </tbody>
        </table>
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>Tag Admin</legend>
    <div class="fieldsetdiv">
        Tag List:
            <div id="tagdiv">
            <table id="tagtable">
                <thead><tr>
                    <th>Tag</th>
                    <th>Entry count</th>
                    <th>Valid</th>
                    <th>ID</th>
                    <th>Delete</th>
                    <th>Refresh entry count</th>
                </tr></thead>
                <tbody>
                {% for tag in tags %}
                <tr id="menu_{{entry.key.id}}">
                    <td>{{tag.tag}}</td>
                    <td>{{tag.entrycount}}</td>
                    <td>{{tag.valid}}</td>
                    <td>{{tag.key.id}}</td>
                    <td> </td>
                    <td> </td>
                </tr>
                {% endfor%}
                </tbody>
            </table>
            </div>
    </div>
</fieldset>
<fieldset>
    <legend>Archive Admin</legend>
    <div class="fieldsetdiv">
        Archive List:
        <div id="archivediv">
        <table id="archivetable">
            <thead><tr>
                <th>Month Year</th>
                <th>Entry count</th>
                <th>Id</th>
                <th>Delete</th>
                <th>Refresh entry count</th>
            </tr></thead>
            <tbody>
            {% for archive in archives %}
            <tr>
                <td>{{archive.monthyear}}</td>
                <td>{{archive.weblogcount}}</td>
                <td>{{archive.key.id}}</td>
                <td> </td>
                <td> </td>
            </tr>
            {% endfor%}
            </tbody>
        </table>
       </div>
    </div>
</fieldset>
</div>
</div>
{% endblock %}

