{% extends "main.html" %}

{% block title %}CPEDIA's Blog{% endblock %}

{% block blogcontainer %}

<!-- Dependency -->
<script src="http://yui.yahooapis.com/2.5.2/build/yahoo/yahoo-min.js"></script>
<!-- Used for Custom Events and event listener bindings -->
<script src="http://yui.yahooapis.com/2.5.2/build/event/event-min.js"></script>
<!-- Connection Manager -->
<script src="http://yui.yahooapis.com/2.5.2/build/connection/connection-min.js"></script>
<!-- JSON Utility -->
<script src="http://yui.yahooapis.com/2.5.2/build/json/json-min.js"></script>
<!-- Dom Collection -->
<script src="http://yui.yahooapis.com/2.5.2/build/dom/dom-min.js"></script>

<div class="yui-g">
<div id="admincontainer">
    <fieldset>
        <legend>Blog Configuration</legend>
        <div class="fieldsetdiv">
            Blog title:
            Author:
            Email:
            Description:
            Root url:
            Cache time:
            Logo images:
            Debug mode:
            Num per page:
        </div>
    </fieldset>

    <fieldset>
        <legend>Page Admin</legend>
        <div class="fieldsetdiv">
            Page List:

        </div>
    </fieldset>

    <fieldset>
        <legend>Album Configuration</legend>
        <div class="fieldsetdiv">
            Album List:

        </div>
    </fieldset>

    <fieldset>
        <legend>Session Token Management</legend>
        <div class="fieldsetdiv">
            Sesseion Token List:
            <table id="tokentable">
                <tr>
                    <th>User Email</th>
                    <th>Target Service</th>
                    <th>Session Token</th>
                    <th> &nbsp;</th>
                </tr>
                {% for token in session_tokens %}
                <tr>
                    <td>{{token.user_email}}</td>
                    <td>{{token.target_service}}</td>
                    <td>{{token.session_token}}</td>
                    <td>
                        <a href="javascript:deleteSessionToken('{{token.user_email}}','{{token.target_service}}',this)">Delete</a>
                    </td>
                </tr>
                {% endfor%}
            </table>
        </div>
    </fieldset>

    <fieldset>
        <legend>System Cache Management</legend>
        <div class="fieldsetdiv">
            <h2>Memcache statistics for this application:</h2>
            <table>
                <tr>
                    <th>hits</th>
                    <td><span id="cache_stats.hits">{{cache_stats.hits}}</span></td>
                    <td><span class="fieldsetcomment">Number of cache get requests resulting in a cache hit.</span>
                    </td>
                </tr>
                <tr>
                    <th>misses</th>
                    <td><span id="cache_stats.misses">{{cache_stats.misses}}</span></td>
                    <td><span class="fieldsetcomment">Number of cache get requests resulting in a cache miss.</span>
                    </td>
                </tr>
                <tr>
                    <th>byte_hits</th>
                    <td><span id="cache_stats.byte_hits">{{cache_stats.byte_hits}}</span></td>
                    <td><span class="fieldsetcomment">Sum of bytes transferred on get requests. Rolls over to zero on overflow.</span>
                    </td>
                </tr>
                <tr>
                    <th>items</th>
                    <td><span id="cache_stats.items">{{cache_stats.items}}</span></td>
                    <td><span class="fieldsetcomment">Number of key/value pairs in the cache. </span></td>
                </tr>
                <tr>
                    <th>bytes</th>
                    <td><span id="cache_stats.bytes">{{cache_stats.bytes}}</span></td>
                    <td><span class="fieldsetcomment">Total size of all items in the cache.</span></td>
                </tr>
                <tr>
                    <th>oldest_item_age</th>
                    <td><span id="cache_stats.oldest_item_age">{{cache_stats.oldest_item_age}}</span></td>
                    <td><span class="fieldsetcomment">How long in seconds since the oldest item in the cache was accessed.
                        Effectively, this indicates how long a new item will survive in the cache without being
                        accessed. This is _not_ the amount of time that has elapsed since the item was created.</span>
                    </td>
                </tr>
            </table>
            <input type="submit" value="Refresh Memcache statistics" onClick="flushAllMemcache(false);">
            <input type="submit" value="Flush All the Memcache" onClick="flushAllMemcache(true);">            
        </div>
    </fieldset>
</div>
</div>
<script>
    var flushAllMemcacheSuccess = function(o) {
        if (o.responseText !== undefined) {
            var cache_stats = YAHOO.lang.JSON.parse(o.responseText);
            document.getElementById("cache_stats.hits").innerHTML = cache_stats.hits;
            document.getElementById("cache_stats.misses").innerHTML = cache_stats.misses;
            document.getElementById("cache_stats.byte_hits").innerHTML = cache_stats.byte_hits;
            document.getElementById("cache_stats.items").innerHTML = cache_stats.items;
            document.getElementById("cache_stats.bytes").innerHTML = cache_stats.bytes;
            document.getElementById("cache_stats.oldest_item_age").innerHTML = cache_stats.oldest_item_age;
            if (o.argument.flush) {
                alert("Flush all the memcache successfully.");
            } else {
                alert("Refresh memcache statistics successfully.");
            }
        }
    }
    var deleteSessionTokenSuccess = function(o) {
        if (o.responseText !== undefined) {
            var src_obj = o.argument.src_obj;
            debugger;
            document.getElementById("tokentable").deleteRow(src_obj.parentElement.rowIndex);
        }
    }
    var handleFailure = function(o) {
        if (o.responseText !== undefined) {
            alert("Client RPC Request Error, please retry.");
        }
    }
    function flushAllMemcache(flush) {
        var sUrl = "/rpc?action=FlushAllMemcache&arg0=" + flush + "&time=" + new Date().getTime();
        var callback =
        {
            success:flushAllMemcacheSuccess,
            failure:handleFailure,
            argument:{flush:flush}
        };
        YAHOO.util.Connect.asyncRequest('GET', sUrl, callback);
    }
    function deleteSessionToken(user_email, target_service,src_obj) {
        var sUrl = "/rpc?action=DeleteSessionToken&arg0=\"" + user_email + "\"&arg1=\"" + target_service + "\"&time=" + new Date().getTime();
        var callback =
        {
            success:deleteSessionTokenSuccess,
            failure:handleFailure,
            argument:{user_email:user_email,target_service:target_service,src_obj:src_obj}
        };
        YAHOO.util.Connect.asyncRequest('GET', sUrl, callback);
    }
</script>
{% endblock %}

