{% extends "main.html" %}

{% block title %}{{title}} - System Admin{% endblock %}

{% block blogcontainer %}

<!-- Dependency -->
<script src="http://yui.yahooapis.com/2.5.2/build/yahoo/yahoo-min.js"></script>
<!-- Used for Custom Events and event listener bindings -->
<script src="http://yui.yahooapis.com/2.5.2/build/event/event-min.js"></script>
<!-- Connection Manager -->
<script src="http://yui.yahooapis.com/2.5.2/build/connection/connection-min.js"></script>
<!-- JSON Utility -->
<script src="http://yui.yahooapis.com/2.5.2/build/json/json-min.js"></script>

<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.2/build/datatable/assets/skins/sam/datatable.css" />
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/element/element-beta-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/datasource/datasource-beta-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/datatable/datatable-beta-min.js"></script>

<div class="yui-g">
<div id="admincontainer" class=" yui-skin-sam">
<script>
    var handleFailure = function(o) {
        if (o.responseText !== undefined) {
            alert("Client RPC Request Error, please retry.");
        }
    }
</script>
<fieldset>
    <legend>Page Admin</legend>
    <div class="fieldsetdiv">
        Page List:
        <table id="pagetable">
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Date</th>
                <th>Permalink</th>
                <th> &nbsp;</th>
            </tr>
            {% for entry in pages %}
            <tr>
                <td>{{entry.title}}</td>
                <td>{{entry.author.email}}</td>
                <td>{{entry.date|date:"m/d/Y"}}</td>
                <td>
                    <a href="{{entry.full_permalink}}" target="_blank">{{entry.full_permalink}}</a>
                </td>
                <td>
                    <a href='/editBlog?blogId={{entry.key.id}}' target="_blank">edit</a> &nbsp;
                    <a href='/deleteBlog?blogId={{entry.key.id}}' target="_blank">delete</a>
                </td>
            </tr>
            {% endfor%}
        </table>
    </div>
</fieldset>
<fieldset>
    <legend>Menu Admin</legend>
    <div class="fieldsetdiv">
        Menu List:
        <form id=menuForm>
            <div id="menudiv">
            <table id="menutable">
                <thead><tr>
                    <th>Title</th>
                    <th>Permalink</th>
                    <th>Target</th>
                    <th>Order</th>
                    <th>Valid</th>
                    <th>&nbsp;</th>
                </tr></thead>
                <tbody>
                {% for entry in menus %}
                <tr id="menu_{{entry.key.id}}">
                    <td>{{entry.title}}</td>
                    <td>{{entry.full_permalink}}</td>
                    <td>{{entry.target}}</td>
                    <td>{{entry.order}}</td>
                    <td>{{entry.valid}}</td>
                    <td> </td>
                </tr>
                {% endfor%}
                </tbody>
            </table>
            </div>
            <input type="button" id="addnewmenu" value="Add new menu"  class="submit">
        </form>
    </div>
    <script>
        YAHOO.util.Event.addListener(window, "load", function() {
            EnhanceFromMarkup = new function() {
                var myColumnDefs = [
                    {key:"title",label:"Title",sortable:true,editor:"textbox"},
                    {key:"permalink",label:"Permalink",formatter:YAHOO.widget.DataTable.formatLink,sortable:true,editor:"textbox",isPrimaryKey:true},
                    {key:"target",label:"Target",sortable:true,editor:"dropdown",editorOptions:{dropdownOptions:["_self","_blank","_parent","_top"]}},
                    {key:"order",label:"Order",formatter:YAHOO.widget.DataTable.formatNumber,sortable:true,editor:"textbox",editorOptions:{validator:YAHOO.widget.DataTable.validateNumber}},
                    {key:"valid",label:"Valid",sortable:true,editor:"radio",editorOptions:{radioOptions:["True","False"],disableBtns:true}},
                    {key:"delete",label:"&nbsp;",action:'delete',formatter:function(elCell) {
                        elCell.innerHTML = '<img src="/img/delete.png" title="delete row" />';
                        elCell.style.cursor = 'pointer';
                    }}
                ];

                this.myDataSource = new YAHOO.util.DataSource(YAHOO.util.Dom.get("menutable"));
                this.myDataSource.responseType = YAHOO.util.DataSource.TYPE_HTMLTABLE;
                this.myDataSource.responseSchema = {
                    fields: [{key:"title"},{key:"permalink"},{key:"target"},
                        {key:"order", parser:YAHOO.util.DataSource.parseNumber},
                        {key:"valid"}, {key:"delete"}
                    ]
                };
                this.myDataTable = new YAHOO.widget.DataTable("menudiv", myColumnDefs, this.myDataSource,
                   { sortedBy:{key:"order",dir:"asc"}});

                // Set up editing flow
                this.highlightEditableCell = function(oArgs) {
                    var elCell = oArgs.target;
                    if (YAHOO.util.Dom.hasClass(elCell, "yui-dt-editable")) {
                        this.highlightCell(elCell);
                    }
                };
                this.myDataTable.subscribe("cellMouseoverEvent", this.highlightEditableCell);
                this.myDataTable.subscribe("cellMouseoutEvent", this.myDataTable.onEventUnhighlightCell);
                //this.myDataTable.subscribe("cellClickEvent", this.myDataTable.onEventShowCellEditor);

                // Hook into custom event to customize save-flow of "radio" editor
                this.myDataTable.subscribe("editorUpdateEvent", function(oArgs) {
                    if (oArgs.editor.column.key === "valid") {
                        this.saveCellEditor();
                    }
                });
                this.myDataTable.subscribe("editorBlurEvent", function(oArgs) {
                    this.cancelCellEditor();
                });

                var myBuildUrl = function(datatable,record) {
                    var url = '';
                    var cols = datatable.getColumnSet().keys;
                    for (var i = 0; i < cols.length; i++) {
                        if (cols[i].isPrimaryKey) {
                            url += '&' + cols[i].key + '=' + escape(record.getData(cols[i].key));
                        }
                    }
                    return url;
                };

                this.myDataTable.subscribe('cellClickEvent', function(ev) {
                    var target = YAHOO.util.Event.getTarget(ev);
                    var column = this.getColumn(target);
                    if (column.action == 'delete') {
                        if (confirm('Are you sure?')) {
                            var record = this.getRecord(target);
                            YAHOO.util.Connect.asyncRequest(
                                    'GET',
                                    '/rpc?action=DeleteMenu' + myBuildUrl(this,record),
                            {
                                success: function (o) {
                                    if (o.responseText == 'Ok') {
                                        this.deleteRow(target);
                                    } else {
                                        alert(o.responseText);
                                    }
                                },
                                failure: function (o) {
                                    alert(o.statusText);
                                },
                                scope:this
                            }
                                    );
                        }
                    } else {
                        this.onEventShowCellEditor(ev);
                    }
                });


                YAHOO.widget.DataTable.prototype.saveCellEditor = function() {
                    // ++++ this is the inner function to handle the several possible failure conditions
                    var onFailure = function (msg) {
                        alert(msg);

                        // --------      on failure section
                        this.resetCellEditor();
                        this.fireEvent("editorRevertEvent",
                        {editor:this._oCellEditor, oldData:oldData, newData:newData}
                                );
                         // --------      end of on failure section

                    };

                   // +++ this comes from the original except for the part I cut to place in the function above.
                    if (this._oCellEditor.isActive) {
                        var newData = this._oCellEditor.value;
                        var oldData = this._oCellEditor.record.getData(this._oCellEditor.column.key);
                        if (this._oCellEditor.validator) {
                            newData = this._oCellEditor.validator.call(this, newData, oldData);
                            this._oCellEditor.value = newData;
                            if (newData === null) {
                                // this is where the contents of the inner function onFailure used to be.
                                onFailure('validation');
                                return;
                            }
                        }
                       // ++++++ from here on I added new, except for the 'success' case pasted in.
                        YAHOO.util.Connect.asyncRequest(
                                'POST',
                                '/rpc?action=UpdateMenu&newData=' + escape(newData) +
                                '&oldData=' + escape(oldData) + myBuildUrl(this,this._oCellEditor.record),
                        {
                            success: function (o) {
                                    // --------     on success section
                                    this._oRecordSet.updateKey(this._oCellEditor.record, this._oCellEditor.column.key, newData);
                                    this.formatCell(this._oCellEditor.cell);
                                    this.resetCellEditor();
                                    this.fireEvent("editorSaveEvent",
                                    {editor:this._oCellEditor, oldData:oldData, newData:newData}
                                            );
                                    // --------     end of on success section
                            },
                            failure: function(o) {
                                onFailure(o.statusText);
                            },
                            scope: this
                        }
                                );
                    } else {
                    }
                };
                ;
            };
        });
    </script>

</fieldset>
<fieldset>
    <legend>Album Configuration</legend>
    <div class="fieldsetdiv">
        Album List:
        <table id="albumtable">
            <tr>
                <th>Picasaweb album username</th>
                <th>Added by</th>
                <th>Added date</th>
                <th>Public/Private</th>
                <th> &nbsp;</th>
            </tr>
            {% for album in albums %}
            <tr>
                <td>{{album.username}}</td>
                <td>{{album.owner.email}}</td>
                <td>{{album.date|date:"m/d/Y"}}</td>
                <td>{{album.private}}</td>
                <td>
                    <a href="javascript:deleteAlbum('{{album.username}}')">Delete</a>
                </td>
            </tr>
            {% endfor%}
        </table>
    </div>
    <script>
        function deleteAlbum(username) {
            var sUrl = "/rpc?action=DeleteAlbum&arg0=\"" + username + "\"&time=" + new Date().getTime();
            var deleteAlbumSuccess = function(o) {
                if (o.responseText !== undefined) {
                    var src_obj = document.getElementById(o.argument.user_email + "_" + o.argument.target_service);
                    document.getElementById("tokentable").deleteRow(src_obj.parentNode.parentNode.rowIndex);
                    alert("Delete user's album successfully.");
                }
            }
            var callback =
            {
                success:deleteAlbumSuccess,
                failure:handleFailure,
                argument:{username:username}
            };
            YAHOO.util.Connect.asyncRequest('GET', sUrl, callback);
        }
    </script>
</fieldset>
<fieldset>
    <legend>Session Token Management</legend>
    <div class="fieldsetdiv">
        Sesseion Token List:
        <table id="tokentable">
            <tr>
                <th>User Email</th>
                <th>Target Service</th>
                <th>Session Token</th>
                <th> &nbsp;</th>
            </tr>
            {% for token in session_tokens %}
            <tr>
                <td>{{token.user_email}}</td>
                <td>{{token.target_service}}</td>
                <td>{{token.session_token}}</td>
                <td>
                    <a href="javascript:deleteSessionToken('{{token.user_email}}','{{token.target_service}}')"
                       id="{{token.user_email}}_{{token.target_service}}">Delete</a>
                </td>
            </tr>
            {% endfor%}
        </table>
    </div>
    <script>
        function deleteSessionToken(user_email, target_service) {
            var sUrl = "/rpc?action=DeleteSessionToken&arg0=\"" + user_email + "\"&arg1=\"" + target_service +
                       "\"&time=" + new Date().getTime();
            var deleteSessionTokenSuccess = function(o) {
                if (o.responseText !== undefined) {
                    var src_obj = document.getElementById(o.argument.user_email + "_" + o.argument.target_service);
                    document.getElementById("tokentable").deleteRow(src_obj.parentNode.parentNode.rowIndex);
                    alert("Delete session token successfully.");
                }
            }
            var callback =
            {
                success:deleteSessionTokenSuccess,
                failure:handleFailure,
                argument:{user_email:user_email,target_service:target_service}
            };
            YAHOO.util.Connect.asyncRequest('GET', sUrl, callback);
        }
    </script>
</fieldset>
<fieldset>
    <legend>System Cache Management</legend>
    <div class="fieldsetdiv">
        Memcache statistics for this application:
        <table>
            <tr>
                <th>hits</th>
                <td><span id="cache_stats.hits">{{cache_stats.hits}}</span></td>
                <td><span class="fieldsetcomment">Number of cache get requests resulting in a cache hit.</span>
                </td>
            </tr>
            <tr>
                <th>misses</th>
                <td><span id="cache_stats.misses">{{cache_stats.misses}}</span></td>
                <td><span class="fieldsetcomment">Number of cache get requests resulting in a cache miss.</span>
                </td>
            </tr>
            <tr>
                <th>byte_hits</th>
                <td><span id="cache_stats.byte_hits">{{cache_stats.byte_hits}}</span></td>
                <td><span class="fieldsetcomment">Sum of bytes transferred on get requests. Rolls over to zero on overflow.</span>
                </td>
            </tr>
            <tr>
                <th>items</th>
                <td><span id="cache_stats.items">{{cache_stats.items}}</span></td>
                <td><span class="fieldsetcomment">Number of key/value pairs in the cache. </span></td>
            </tr>
            <tr>
                <th>bytes</th>
                <td><span id="cache_stats.bytes">{{cache_stats.bytes}}</span></td>
                <td><span class="fieldsetcomment">Total size of all items in the cache.</span></td>
            </tr>
            <tr>
                <th>oldest_item_age</th>
                <td><span id="cache_stats.oldest_item_age">{{cache_stats.oldest_item_age}}</span></td>
                <td><span class="fieldsetcomment">How long in seconds since the oldest item in the cache was accessed.
                        Effectively, this indicates how long a new item will survive in the cache without being
                        accessed. This is _not_ the amount of time that has elapsed since the item was created.</span>
                </td>
            </tr>
        </table>
        <input type="submit" value="Refresh Memcache statistics" onClick="flushAllMemcache(false);" class="submit">
        <input type="submit" value="Flush All the Memcache" onClick="flushAllMemcache(true);" class="submit">
    </div>
    <script>
        function flushAllMemcache(flush) {
            var sUrl = "/rpc?action=FlushAllMemcache&arg0=" + flush + "&time=" + new Date().getTime();
            var flushAllMemcacheSuccess = function(o) {
                if (o.responseText !== undefined) {
                    var cache_stats = YAHOO.lang.JSON.parse(o.responseText);
                    document.getElementById("cache_stats.hits").innerHTML = cache_stats.hits;
                    document.getElementById("cache_stats.misses").innerHTML = cache_stats.misses;
                    document.getElementById("cache_stats.byte_hits").innerHTML = cache_stats.byte_hits;
                    document.getElementById("cache_stats.items").innerHTML = cache_stats.items;
                    document.getElementById("cache_stats.bytes").innerHTML = cache_stats.bytes;
                    document.getElementById("cache_stats.oldest_item_age").innerHTML = cache_stats.oldest_item_age;
                    if (o.argument.flush) {
                        alert("Flush all the memcache successfully.");
                    } else {
                        alert("Refresh memcache statistics successfully.");
                    }
                }
            }
            var callback =
            {
                success:flushAllMemcacheSuccess,
                failure:handleFailure,
                argument:{flush:flush}
            };
            YAHOO.util.Connect.asyncRequest('GET', sUrl, callback);
        }
    </script>
</fieldset>
</div>
</div>
{% endblock %}

