{% extends "main.html" %}

{% block title %}{{title}} - {{blog.title}}{% endblock %}

{% block blogcontainer %}

<!-- Dependencies -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/yahoo-dom-event/yahoo-dom-event.js" ></script>
<!-- Drag and Drop source file -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/dragdrop/dragdrop-min.js" ></script>

{% if cur_photo %}
<div class="yui-g" id="albumsdiv">
        <H3>Albums</H3>
        <p>
    <div id="albums">
          <div id="photo">
              <img src="{{cur_photo.content.src}}?imgmax=800"/>
          </div>
     </div>
</div>

        
{% endif %}

{% endblock %}
