{% extends "main.html" %}

{% block title %}{{title}} - {{blog.title}}{% endblock %}

{% block blogcontainer %}

<!-- Dependencies -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/yahoo-dom-event/yahoo-dom-event.js" ></script>
<!-- Drag and Drop source file -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/dragdrop/dragdrop-min.js" ></script>

<div class="yui-g" id="albumsdiv">
        <H3>Albums</H3>
        <p>
    <div id="albums">
         <div class="album_thumbnail">
             {% if cur_photo %}
                 <img src="{{cur_photo.content.src}}"/> 
             {% endif %}
          </div>
     </div>
</div>
{% endblock %}
