{% extends "main.html" %}

{% block title %}{{title}} - {{blog.title}}{% endblock %}

{% block blogcontainer %}
        
<script type="text/javascript" src="/jscripts/lightbox2.04/js/prototype.js"></script>
<script type="text/javascript" src="/jscripts/lightbox2.04/js/scriptaculous.js?load=effects,builder"></script>
<script type="text/javascript" src="/jscripts/lightbox2.04/js/lightbox.js"></script>
<link rel="stylesheet" href="/jscripts/lightbox2.04/css/lightbox.css" type="text/css" media="screen" />

<div class="yui-g" id="albumsdiv">
        {% if album %}
        <div id="albuminfo">
            <H3>Albums</H3>
            <p>
            <a href="/albums">Albums</a> -> <a href="/albums/{{username}}">{{username}}</a> -> <a href="/albums/{{username}}/{{album.name.text}}">{{album.title}}</a>
            <p>
            Shot at: {{album.datetime|date:"m/d/y"}} <br>
            Photos Num: {{album.numphotos}}
        </div>
          {% endif %}
        <p>
    <div id="albums">
        {% for photo in photos %}
             {% for thumbnail in photo.media.thumbnail%}
             {% ifequal forloop.counter 2 %}
        <div class="photo_thumbnail" width="{{thumbnail.width}}" height="{{thumbnail.height}}">
            {#<!--<a href="/albums/{{username}}/{{album_name}}/{{photo.gphoto_id.text}}">-->#}
            <a href="{{photo.content.src}}?imgmax=800" rel="lightbox[roadtrip]" onFocus='this.blur()'>
                <img src="{{thumbnail.url}}" style="border:1px #000000 solid;"/>
            </a>
        </div>
    {% endifequal %}
             {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}
