{% extends "main.html" %}

{% block title %}CPEDIA's Blog{% endblock %}


{% block blog %}
    <div id=bloglist>
    
    {% if page %}
      {% for entry in page.object_list %}
        <H2 class=date-header> {{entry.date|date:"l, F m, Y"}} </H2>
        <DIV class="post">
        <H3 class=post-title>
            <a href="/viewBlog?blogId={{ entry.key.id }}">{{entry.title}}</a>
        </H3>
        <DIV class=post-body>
         {{entry.content}}
         </DIV>
        <DIV class=post-footer>
            <P>
                <SPAN class=post-author>Posted by {{entry.author}} </SPAN>
                <SPAN class=post-timestamp>at <A  class=timestamp-link href="{{entity.permalink}}">{{entry.date|date:"H:i A"}}</A> </SPAN>
                <SPAN class=post-comment-link>
                    {% if entry.weblogreactions_set.count %}
                    <A class=comment-link href="/viewBlog?blogId={{entry.key.id}}#reactions">{{entry.weblogreactions_set.count}} comments</A>
                    {% else %}<A class=comment-link href="/viewBlog?blogId={{entry.key.id}}#addreaction">no comments</A>{% endif %}
                </SPAN>
            </P>
         </DIV>
        </DIV>
        {% endfor %}
     {% endif %}


    {% include "paginator.html" %}
    </div>
        
{% endblock %}

