{% extends "main.html" %}
{% block title %}{{title}} - Login{% endblock %}
{% block blogcontainer %}
<div id="logindiv">
    <div class="yui-g">
        {% if error %}
        <div class="error">
            {{error}}
        </div>
        {% endif %}
    </div>
    <div class="yui-g">
            Password Assistance
            <form method=post id="signinForm" name="signinForm" action="/lost_password">
                <table cellspacing="0" class="yui-skin-sam noborder_table">
                    <tbody>
                        <tr>
                            <td colspan="2">
                                Please enter the email address or username you use to sign in to your account. If you are a Google user, please enter your Google account username.
                            </td>
                        </tr>
                        <tr>
                            <td><input type="email" name="email" id="email"/>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="submit" value="Reset Password"/></td>
                        </tr>
                    </tbody>
                </table>
            </form>
    </div>
    <div>
        {%if email_sent_msg %}
        {{email_sent_msg}}
        {%endif%}
    </div>
</div>
{% endblock %}

