{% load i18n %}
{% extends "main.html" %}
{% block title %}{{title}} - Login{% endblock %}
{% block blogcontainer %}
<script type="text/javascript" src="/jscripts/common/constant.js"></script>
<script type="text/javascript" src="/jscripts/common/utils.js"></script>
<script type="text/javascript" src="/jscripts/user.form.js"></script>
<div id="logindiv">
    <div class="yui-g">
        {% if error %}
        <div class="error">
            {{error}}
        </div>
        {% endif %}
    </div>
    <div class="yui-g">
            <form method=post id="signinForm" name="signinForm" action="/reset_password">
                <table cellspacing="0" class="yui-skin-sam noborder_table">
                    <tbody>
                        <tr>
                            <td colspan="2">
                                Create new password
                            </td>
                        </tr>
                        <tr>
                            <th>Choose password:</th>
                            <td><input type="password" name="password" id="password"/>
                                <span id="checkPasswordAlert"></span>
                                <div id="password_unavailable_text">
                                    {% trans "at least 6 characters (case sensitive)" %}
                                </div>
                            </td>
                        </tr>
                        <tr><th>Retype password:</th>
                            <td><input type="password" name="password_confirm" id="password_confirm"/>
                                <span id="checkPasswordConfirmAlert"></span>
                                 <div id="password_confirm_unavailable_text" style="display:none;">
                                    {% trans "Password doesn't match the confirmation" %}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="submit" value="Reset Password"/></td>
                        </tr>
                    </tbody>
                </table>
            </form>
    </div>
    <div>
        {%if email_sent_msg %}
        {{email_sent_msg}}
        {%endif%}
    </div>
</div>
{% endblock %}

