<div class="menu_top">
    <div id="userinfo">
        {% if user %}
        <b>{{ user.email }}</b> |
        {% if administrator %}
        <a href='/addBlog'>Admin/Add blog</a> |
        <a href='http://appengine.google.com/a/cpedia.com'>Admin/Manage site</a> |
        {% endif %}
        {% endif %}
        <a href="https://www.google.com/accounts/ManageAccount">My Account</a> |
        <A href="{{ url }}">{{ url_linktext }}</A>
    </div>
    <div id="navbar">
        <font size="9em">CPEDIA's ZONE</font>
    </div>
</div>
