<DIV id=sidebar>

    {% block webloglist %}
    {% endblock %}

    {% block loginmenu %}
    <DIV id=login>
        <H3>Login</H3>
        <UL>
            <LI><a href='/viewBlog?blogId=709'>Anything is possible!</a>
                {% if user %}
            <LI><a href="#"> Welcome, <b>{{ user.email }}</b> </a>
                {% if administrator %}
            <LI><a href='/addBlog'>Admin/Add blog</a>
            <LI><a href='http://appengine.google.com/a/cpedia.com'>Admin/Manage site</a>
                {% endif %}
                {% endif %}
            <LI><a href="{{ url }}">{{ url_linktext }}</a>
            </LI>
        </UL>
    </DIV>
    {% endblock %}

    {% include "module_plugin/favourite_site.html" %}

    {% include "module_plugin/favourite_ebook.html" %}

</DIV>