<DIV id=menu_right>

    {% block webloglist %}
    {% endblock %}

    <div id="comments">
        <h2>Recent comments</h2>
        <ul>
            {% for reactioin in recentReactions %}
            <li> {{reactioin.date|date:"m/d/y"}}
                {%if reactioin.weblog.permalink %}
                <a href="/{{reactioin.weblog.permalink}}#reactions"> {{reactioin.weblog.title}}</A>
                {% else %}
                <A href="/viewBlog?blogId={{reactioin.weblog.key.id}}#reactions">  {{reactioin.weblog.title}}</A>
                 {% endif %}
           </li>               
            {% endfor %}
        </ul>

    </div>

    <div id="archives">
        <h2>Archives</h2>
        <ul>
            {% for month_ in datetimeList reversed %}
            <li><a href='/{{month_|date:"Y"}}/{{month_|date:"m"}}'>{{month_|date:"F Y"}}</a></li>
            {% endfor %}
        </ul>

    </div>


</DIV>