<div id="tagclound">
    <h3>Tag Clound</h3>
    <div>
        <span class="tagheader">My Blog Tags</span>

        <div>
            {%for tag in tags%}
            <a href="/tag/{{tag.tag|urlencode}}">{{tag.tag}}</a>
            {% endfor%}
        </div>
    </div>
    <div id="delicious">
        <span class="tagheader">My Del.icio.us</span>
        <div>
            {% for tag in delicious %}
            <a href="/delicious/{{tag.tag|urlencode}}">{{tag.tag}} <span class="commenttime">({{tag.entrycount}})</span></a>
            {% endfor %}
        </div>
    </div>

</div>