<div id="tagclound">
    <h3>Tag Clound</h3>
    <div>
        <span class="tagheader">My Blog Tags</span>

        <div>
            {%for tag in tags%}
            <a href="/tag/{{tag.tag}}">{{tag.tag}}</a>
            {% endfor%}
        </div>
    </div>
    <div>
        <span class="tagheader">My Del.icio.us</span>
        <div>
            {% for tag in delicious %}
            <a href="/tag/{{tag.tag}}">{{tag.tag}} ({{tag.entrycount}})</a>
            {% endfor %}
        </div>
    </div>

</div>